*
{
	margin: 0;
	padding:0;
}
body
{
	background:url('../pics/pres3.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	min-height : 1000;
	min-width : 1000 ;
	 background-attachment: fixed;
background-position:center center;
}

formm{
	border-radius :10px;
	padding : 0;
	
}
