@media print {
	@page {         
        size: landscape !important;
        margin: 0mm;
	}
  }

  @media all {
    .pagebreak {
      display: none;
    }
  }

@media print { body { -webkit-print-color-adjust: exact; } }

